body{
    overflow-x: hidden;
}

main{
    margin-top:130px;
    margin-bottom:10px;
}

form {
    border: 3px solid black;
    padding: 10px;
    border-radius:30px;
    background-color: white;
    width: 500px;
    margin-left: 30%;
}
#form_heading
{
    text-align: center;
}

.FormField{
    display: grid;
    grid-template-columns: 200px 1fr;
}

.buttonfield {
    display: flex;
    justify-content: space-around;
}

.buttonfield #Clear{
    padding:10px 20px ;
    border:none;
    border-radius: 4px;
    background-color:#c2d3dd;
    color:#2D3E50;
    cursor:pointer;
    width: 100px;
    font-weight: bold;
}
#SignUp{
    height: 100%;
}

.buttonfield #SignIn
{
    padding:10px 20px ;
    border:none;
    border-radius: 4px;
    background-color:#c2d3dd;
    color:#2D3E50;
    cursor:pointer;
    width: 100px;
    font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="password"],
#SecurityQuesition{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label{
    padding-top:15px;
}

footer{
    position:absolute;
}